 
 /* navbar style  */

.nav-bar{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-img img{
    width: 70%;
    height: 70%;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li{
    list-style-type: none;
    border-right: 2px solid #4a5fc1;
    cursor: pointer;
}
.nav-bar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: 3px 3px;
    padding: 15px 20px;
}
.nav-bar ul li a:hover{
    background-color: #4a5fc1;
    color: white;
    border-radius: 5px;
}